<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>PersonaController</servlet-name>
		<servlet-class>com.udla.siscoudla.controlador.PersonaController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>com.udla.siscoudla.controlador.IndexController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistroTurnosController</servlet-name>
		<servlet-class>com.udla.siscoudla.controlador.RegistroTurnosController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DashboardController</servlet-name>
		<servlet-class>com.udla.siscoudla.controlador.DashboardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonaController</servlet-name>
		<url-pattern>/PersonaController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/IndexController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistroTurnosController</servlet-name>
		<url-pattern>/RegistroTurnosController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardController</servlet-name>
		<url-pattern>/DashboardController</url-pattern>
	</servlet-mapping>
</web-app>
